<Context>
	<Resource
		name="jdbc/@instance.name.lc@"
		auth="Container"
		type="javax.sql.DataSource"
		username="@instance.name.lc@_user"
		password="@instance.name.lc@_password"
		driverClassName="oracle.jdbc.driver.OracleDriver"
		url="jdbc:oracle:thin:@localhost:1521:xe"
		maxActive="10"
		maxIdle="2"
		maxWait="30000"
	/>
</Context>