<Context>
	
	<Resource
		name="jdbc/@instance.name.lc@"
		type="javax.sql.DataSource"
		auth="container"
		username="@instance.name.lc@_user"
		password="@instance.name.lc@_password"
		driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		url="jdbc:sqlserver://localhost:60086"
	/> 

</Context>
